
/// Mixin to generate font-face
/// 
/// @author Geovane Schmitz
/// @param {String} $font - Font name
/// @param {List} $weights - Font weights E.g (400, 700)
/// @param {List} $styles - Font weights E.g ('italic', 'normal')
/// @param {String} $base-path - font folder src
@mixin load-font($font, $weights, $styles, $base-path) {
  @each $weight in $weights {
    @each $style in $styles {
      @font-face{
        src: url($base-path + '-' + $weight + '-' + $style + '.woff2') format('woff2'),
             url($base-path + '-' + $weight + '-' + $style + '.woff') format('woff');
        font-family: $font;
        font-display: swap;
        font-style: unquote($style);
        font-weight: $weight;
      }
    }
  }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@include load-font("Inter", (400,700), ('italic', 'normal'), "../assets/fonts/Inter",);

body,
input,
select,
textarea {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
