@import './common.scss';

.header {
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: row;
  font-size: var(--text-font-size);
  z-index: 10;
  height: $header-height;
  background-color: var(--content-background-color);
  transform: translate3d(0, 0, 0);
  width: calc(100vw - 8rem);
  justify-content: space-between;
  padding: 0 4rem;
  box-shadow: var(--shadow3);
  &-wrapper {
    height: $header-height;
    width: 100vw;
  }
  &-menu {
    display: flex;
    align-items: center;
    &-button-login {
      height: 2.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &-logo {
    height: $header-height;
    width: 7rem;
    flex-shrink: 0;
    color: var(--component-text-color);
    display: block;
    background-size: auto 1.3rem;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.LAYOUT-COLOR-SCHEME-DARK .header-logo {
  background-image: url('../../assets/logo_dark.svg');
}

.LAYOUT-COLOR-SCHEME-LIGHT .header-logo {
  background-image: url('../../assets/logo.svg');
}
